* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #383257;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: #383257;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-book {
  background: #434663;
  padding: 80px 0;
}

.call-book__list li {
  background-color: #777aa5;
}

.call-book__list li:nth-child(even) {
  background: #666697;
}

.call-book .label {
  background-color: #4d4d79;
  padding: 20px 10px;
}

.call-book__item {
  width: 100%;
  padding: 10px 10px;
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.308);
}

.call-book span {
  font-weight: 700;
  color: #fff;
  text-align: start;
}

.call-book__id {
  flex: 1 1 10%;
}

.call-book__name {
  flex: 1 1 30%;
}

.call-book__phone {
  flex: 1 1 30%;
}

.call-book__phone a {
  color: #fff;
  text-decoration: none;
}

.call-book__mail {
  flex: 1 1 30%;
}

