.call-book {
	background:rgb(67, 70, 99);
	&__list {
		li{
			background-color: rgb(119, 122, 165);
		}
		li:nth-child(even) {
			background: rgb(102, 102, 151);
		 }
	}

	&__item {
		width: 100%;
		padding: 10px 10px;
		display: flex;
		border: 1px solid rgba(128, 128, 128, 0.308);
		
	}
	span{
		font-weight: 700;
		color: #fff;
		text-align: start;
	}

	&__id {
		flex: 1 1 25%;
	
	}

	&__name {
		flex: 1 1 25%;


	}

	&__phone {
		flex: 1 1 25%;

		a{

			color: #fff;
			text-decoration: none;
		}

	}

	&__mail {
		flex: 1 1 25%;


	}
}
